app:
  scheduler:
    enable: true
    interval: 10s
    force-check-delay: 10s
  stack-overflow-base-uri: "https://api.stackexchange.com/2.3"
  github-base-uri: "https://api.github.com"

spring:
  application:
    name: scrapper

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml
