app:
  telegram-token: 6734894204:AAFhGRcO0YyP-9CbQOvZdSbuOe8jrMXO_AU

spring:
  application:
    name: bot
  jackson:
    time-zone: UTC

server:
  port: 8090

logging:
  config: classpath:log4j2-plain.xml
